name: Java CI with Maven

on:
  push:
    paths-ignore:
     - 'README.md'
  pull_request:
    paths-ignore:
     - 'README.md'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up JDK
      uses: actions/setup-java@v5
      with:
        java-version: 21
        distribution: temurin
    - name: Cache Maven packages
      uses: actions/cache@v5
      with:
        path: |
          ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml', '**/*.yml', '**/*.target') }}
        restore-keys: ${{ runner.os }}-m2-
    - name: Build with Maven
      run: >
        xvfb-run
        ./mvnw
        -f xklaim/xklaim.parent/pom.xml
        verify
        -Dskip.imc.tests=true -Dskip.klava.tests=true
        -Ptest-ide
#    - name: Archive Test Results
#      uses: actions/upload-artifact@v2
#      if: ${{ failure() || cancelled() }}
#      with:
#        name: test-results-${{ runner.os }}
#        path: '**/*.tests/target'
    - name: Archive UI Tests Screenshots
      uses: actions/upload-artifact@v5
      if: ${{ failure() || cancelled() }}
      with:
        name: screenshots-${{ runner.os }}
        path: '**/*.tests/screenshots'
